In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={'Name':['Ramesh','Suresh',np.nan,'Mahesh'],
      'Age':[31,32,33,np.nan],
      'City':[np.nan,'Hyd','Mumbai','Chennai']}

In [3]:
pd.DataFrame(dict1)

     Name   Age     City
0  Ramesh  31.0      NaN
1  Suresh  32.0      Hyd
2     NaN  33.0   Mumbai
3  Mahesh   NaN  Chennai

In [4]:
# save in variable
data1= pd.DataFrame(dict1)

In [5]:
# Null vales becomes true
data1.isnull()

# every column has one missing value is there

    Name    Age   City
0  False  False   True
1  False  False  False
2   True  False  False
3  False   True  False

In [7]:
data1.isnull().sum()*100/len(data1)

# percentage

Name    25.0
Age     25.0
City    25.0
dtype: float64

In [9]:
# replacing with NONE
dict2={'Name':['Ramesh','Suresh',None,'Mahesh'],
      'Age':[31,32,33,None],
      'City':[None,'Hyd','Mumbai','Chennai']}
pd.DataFrame(dict2)

     Name   Age     City
0  Ramesh  31.0     None
1  Suresh  32.0      Hyd
2    None  33.0   Mumbai
3  Mahesh   NaN  Chennai

In [10]:
data2= pd.DataFrame(dict2)

In [12]:
data2.isnull()

    Name    Age   City
0  False  False   True
1  False  False  False
2   True  False  False
3  False   True  False

In [13]:
data2.isnull().sum()

Name    1
Age     1
City    1
dtype: int64

In [16]:
dict3={'Name':['Ramesh','Suresh','Null','Mahesh'],
      'Age':[31,32,33,'Null'],
      'City':['Null','Hyd','Mumbai','Chennai']}
pd.DataFrame(dict3)

     Name   Age     City
0  Ramesh    31     Null
1  Suresh    32      Hyd
2    Null    33   Mumbai
3  Mahesh  Null  Chennai

In [ ]:
dict3={'Name':['Ramesh','Suresh',Null,'Mahesh'],
      'Age':[31,32,33,Null],
      'City':[Null,'Hyd','Mumbai','Chennai']}
pd.DataFrame(dict3)

# Error

**Method-1**

Fill the missing values with random number

- Dataframe name =data1

- method name: fillna

In [39]:
data1.fillna(40)

     Name   Age     City
0  Ramesh  31.0       40
1  Suresh  32.0      Hyd
2      40  33.0   Mumbai
3  Mahesh  40.0  Chennai

**Method-2**

Fill the missing values with random number on specific column

- dataframe name= data1

- method name:fillna

In [ ]:
data1['Name'].fillna('Satish',inplace)

**Method-3**

- bfill

- ffill

- pad

- backfill

In [17]:
data1.fillna(method='backfill')
# names index 2 is missed value
#      it will replace by index 3 value
# Age index 3 is missed value
#      we don't have index4, so the value is NaN
# City index 0 has missed value
#     It will replace index 1

     Name   Age     City
0  Ramesh  31.0      Hyd
1  Suresh  32.0      Hyd
2  Mahesh  33.0   Mumbai
3  Mahesh   NaN  Chennai

In [18]:
data1.fillna(method='ffill')

     Name   Age     City
0  Ramesh  31.0      NaN
1  Suresh  32.0      Hyd
2  Suresh  33.0   Mumbai
3  Mahesh  33.0  Chennai

In [19]:
data1.fillna(method='pad')

     Name   Age     City
0  Ramesh  31.0      NaN
1  Suresh  32.0      Hyd
2  Suresh  33.0   Mumbai
3  Mahesh  33.0  Chennai

In [20]:
data1.fillna(method='bfill')

     Name   Age     City
0  Ramesh  31.0      Hyd
1  Suresh  32.0      Hyd
2  Mahesh  33.0   Mumbai
3  Mahesh   NaN  Chennai

- Backfill and bfill are same

- pad and ffill as same

- Bfill and Ffill are equally important

**Method-4**

- Mean

- Median

- Mode

$Mean$

In [21]:
data1

     Name   Age     City
0  Ramesh  31.0      NaN
1  Suresh  32.0      Hyd
2     NaN  33.0   Mumbai
3  Mahesh   NaN  Chennai

In [23]:
# lets take age 1st
age_mean=data1['Age'].mean()
age_mean

32.0

In [24]:
data1['Age'].fillna(age_mean)

0    31.0
1    32.0
2    33.0
3    32.0
Name: Age, dtype: float64

In [ ]:
# instead of providing a random number
# we are filling with mean of the data

$Median$

In [28]:
age_median=data1['Age'].median()
age_median

32.0

In [29]:
data1['Age'].fillna(age_median)

0    31.0
1    32.0
2    33.0
3    32.0
Name: Age, dtype: float64

$Mode$

In [30]:
age_mode=data1['Age'].mode()
age_mode

0    31.0
1    32.0
2    33.0
Name: Age, dtype: float64

In [31]:
data1['Age'].fillna(age_mode)

0    31.0
1    32.0
2    33.0
3     NaN
Name: Age, dtype: float64

In [ ]:
# Interview

# Level1 - Mean median mode
# Level 2 - bfill and ffill
# Level 3 : KNN

**Method-5**

**KNN Imputer**

KNN : K nearest Neghbiours  # machine learning algritm
    
- in the KNN imputer instead of taking mean of all the values 

- we will choose neghbiours data

- Will take those mean only

In [34]:
from sklearn.impute import KNNImputer
knn=KNNImputer(n_neighbors=2)   
#n_neighburs are hyper parameter its bidefault 5
knn.fit_transform(data1)

# error as it is for distance so can't use for strings

ValueError: could not convert string to float: 'Ramesh'

In [35]:
from sklearn.impute import KNNImputer
knn=KNNImputer(n_neighbors=2)   
#n_neighburs are hyper parameter its bidefault 5
knn.fit_transform(data1['Age'])
# error as its so place double bracket

ValueError: Expected 2D array, got 1D array instead:
array=[31. 32. 33. nan].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [37]:
from sklearn.impute import KNNImputer
knn=KNNImputer(n_neighbors=2)   
knn.fit_transform(data1[['Age']])

array([[31.],
       [32.],
       [33.],
       [32.]])

In [38]:
data1   
# age missing is NaN so the mean is 32  and is replced with NaN

     Name   Age     City
0  Ramesh  31.0      NaN
1  Suresh  32.0      Hyd
2     NaN  33.0   Mumbai
3  Mahesh   NaN  Chennai

**Method-6**

- Based on other columns

- Sometimes all above methods will not provide good justification

- At that time we need to check other column dependancy also

- Most of the time will pick a column which have higest correlation